#site-body {
  display: flex;
  flex-direction: column;
}

.header {
  order: 1;
  text-align: center;
}

.nav {
  order: 9;
  display: flex;
  align-self: center;
  align-items: center;
  height: 3em;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-left: 1em;
  margin-right: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  order: 3;
  width: 95%;
  align-self: center;
}

.posts {
  margin-left: auto;
  margin-right: auto;
}

.post {

}

.sidebar {
  display: flex;
  overflow-x: scroll;
}

.footer {
  order: 10;
  display: none;
}

@media (min-width: $breakpoint__large) {
  .nav {
    order: 2;
  }

  .content {
    flex-direction: row;
  }

  .post {
    max-width: 50em;
  }

  .sidebar {
    flex-direction: column;
    overflow-x: auto;
    margin-left: 2em;
  }

  .footer {
    display: inline-block;
  }
}