#site-body {
  display: flex;
  flex-direction: column;
}

.header {
  order: 10;
  text-align: center;
}

.nav {
  order: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-left: 1em;
  margin-right: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  order: 50;
  padding: $spacing__site-content;
}

.posts {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.post {

}

.separator {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  order: 100;
  display: none;
}

.widget {
  width: 100%;
}

@media (min-width: $breakpoint__medium) {
  .sidebar {
    justify-content: space-between;
  }

  .widget {
    width: 15em;
  }
}

@media (min-width: $breakpoint__large) {
  .nav {
    order: 20;
  }

  .content {
    flex-direction: row;
  }

  .posts {
    width: 80%;
    max-width: 50em;
  }

  .post {
  }

  .separator {
    display: none;
  }

  .sidebar {
    width: 20%;
    max-width: 15em;
    flex-direction: column;
    overflow-x: auto;
    margin-left: 0.5em;
    justify-content: flex-start;
  }

  .footer {
    display: inline-block;
  }

  .widget {
    width: 100%;
  }
}